section{
    background: rgb(121, 214, 126);
    color: brown;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 2rem solid var(--color-danger);

}


.image{
    margin-top:4rem;
    border-radius: 2px solid var(--color-danger);
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}
